body{
  font-family: 'Oswald', sans-serif;
  background-color: rgb(220, 220, 220);
  font-weight: 300;
  margin-left: 10vw;
  margin-right: 10vw;
}

header{
  margin: 0px;
}
header h1{
  font-size: 5vw;
  font-weight: 300;
  text-align: center;
}
.navlist{
  background-color: rgb(49, 157, 246);
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.navitem{
  font-size: 30px;
  padding: 0;
}
#nav-about{
  margin-left: 20%;
}
#nav-projects{
  margin-left: auto;
  margin-right: auto;
}
#nav-contact{
  margin-right: 20%;
}
.navlink a{
  text-decoration: none;
  color: black;
}
